<ion-view title="contactus" style="background-color: rgb(243,147,27); ">
    <div class="bar bar-header header-bar-color">
        <button menu-toggle = "left" class = "button button-icon icon ion-navicon"> Contact Us </button>
        <img src="img/basket_empty.png" style="position:fixed;right:0px;height:37px;width:83px;"></img>
    </div>
    <ion-content class="has-header">
        <div align="center">
            <img src="img/almandi_logo.png">
            <div style="float:inherit;min-height: 500px;">
                <label class="item item-input-inset" style="width: 50%;margin-bottom: 5px;">
                    <input type="text" placeholder="Name"/>
                </label>

                <label class="item item-input-inset" style="width: 50%;margin-bottom: 5px;">
                    <input type="text" placeholder="Email"/>
                </label>
                <label class="item item-input-inset" style="width: 50%;margin-bottom: 5px;">
                    <textarea border="2" placeholder="Message" style="width:100%;height:130px;resize: none;"></textarea>
                </label>
                <button class="button button-block" style="width: 50%; background-color: rgb(186, 107, 12);">
                    Send
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>